<h1>Welcome to the map section!</h1>
<form ng-submit="controller.mapAdd()">
    <label>Name</label>
    <input type="text" ng-model="controller.newMap.name">
    <hr/>
    <label>Category</label>
    <input type="text" ng-model="controller.newMap.category">
    <hr/>
    <label>Description</label>
    <textarea ng-model="controller.newMap.description"></textarea>
    <hr/>
    <label>Image</label>
    <input type="text" ng-model="controller.newMap.image">
    <button type="submit">Search/Add</button>
</form>
<div layout="row" flex>
    <md-card layout="column" layout-align="" flex="33" ng-repeat="map in controller.maps">
        <md-card-content>
            <md-card-header>
                <h2>{{map.name}}: {{map.category}}</h2>
            </md-card-header>
            <img ng-src="{{map.image}}" style="max-height:280px" class="md-card-image" />
            <md-card-footer>{{map.description}}</md-card-footer>
            <a href="/edit/{{map._id}}">Edit</a>
            <a href="#" ng-click="controller.removeMap(map._id)">Delete</a>
            <!--<form>
                <!--<input ng-change="controller.sendRating(map)" ng-model="map.rating" label="1" type="radio" name="ratings" value="1">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="2" type="radio" name="ratings" value="2">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="3" type="radio" name="ratings" value="3">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="4" type="radio" name="ratings" value="4">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="6" type="radio" name="ratings" value="6">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="7" type="radio" name="ratings" value="7">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="8" type="radio" name="ratings" value="8">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="9" type="radio" name="ratings" value="9">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="10" type="radio" name="ratings" value="10">-->
            <!--</form>-->
        </md-card-content>
    </md-card>
</div>