<h1><u>Recent Modules</u></h1>

<div layout="row max-height:280px" layout-wrap flex>
    <md-card md-theme="default" layout="column" layout-align="" flex="25" ng-repeat="map in controller.maps">
        <md-card-content>
            <md-card-header md-colors="::{backgroundColor: 'default-primary-700'}">
                <md-card-header-text>
                    <span class="md-headline">{{map.name}}: </span>
                    <span md-accent class="md-subhead"><em><strong>  {{map.category}}</strong></em></span>
                </md-card-header-text>
            </md-card-header>
            </br>
            <img ng-src="{{map.image}}" style="max-height:280px" class="md-card-image" flex="100" />
            </br>
            <md-card-footer><em>{{map.description}}</em></md-card-footer>
            </br>
            <md-card-actions layout="row" layout-align="end end">
                <md-button><a href="/edit/{{map._id}}">Edit</a></md-button>
                <md-button><a href="#" ng-click="controller.removeMap(map._id)">Delete</a></md-button>
            </md-card-actions>
            <!--<form>
                <!--<input ng-change="controller.sendRating(map)" ng-model="map.rating" label="1" type="radio" name="ratings" value="1">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="2" type="radio" name="ratings" value="2">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="3" type="radio" name="ratings" value="3">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="4" type="radio" name="ratings" value="4">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="6" type="radio" name="ratings" value="6">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="7" type="radio" name="ratings" value="7">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="8" type="radio" name="ratings" value="8">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="9" type="radio" name="ratings" value="9">
            <input ng-change="controller.sendRating(map)" ng-model="map.rating" label="10" type="radio" name="ratings" value="10">-->
            <!--</form>-->
        </md-card-content>
    </md-card>
</div>