<h1><u>Recent Modules</u></h1>

<div layout="row max-height:280px" layout-wrap flex>
    <md-card md-theme="default" layout="column" layout-align="" flex="25" ng-repeat="map in controller.maps">
        <md-card-content>
            <md-card-header md-colors="::{backgroundColor: 'default-primary-700'}">
                <md-card-header-text>
                    <span class="md-headline">{{map.name}}: </span>
                    <span md-accent class="md-subhead"><em><strong>  {{map.category}}</strong></em></span>
                </md-card-header-text>
            </md-card-header>
            </br>
            <img ng-src="{{map.image}}" style="max-height:280px" class="md-card-image" flex="100" />
            </br>
            <md-card-footer><em>{{map.description}}</em></md-card-footer>
            </br>
        </md-card-content>
        <md-card-footer>
            <md-content>
                <span ng-repeat="tag in map.tags">{{tag.name}}, </span>
                <md-card-actions layout="row" layout-align="end end">
                    <md-button><a href="/edit/{{map._id}}">Edit</a></md-button>
                    <md-button ng-if="vm.currentUser.user.userType === 'admin'"><a href="#" ng-click="controller.removeMap(map._id)">Delete</a></md-button>
                </md-card-actions>
            </md-content>
        </md-card-footer>
    </md-card>
</div>